<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title %}
      {{ page.title }} &middot;
    {% endif %}

    {{ site.title }}
  </title>

  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=5" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=5" />
  <link rel="shortcut icon" href="/favicon.ico?v=5" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=5" />

  {% seo title=false %}

  <link rel="stylesheet" href={% link assets/css/main.scss %} />
  <script async defer data-website-id="f555f542-14e4-47ec-9c64-615f0b8ff286" src="https://umami.chiya.dev/umami.js"></script>
</head>
